---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Gallery";
---
<Layout pageTitle={pageTitle}>
   <!--  <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div> -->


    
    
    <p>
        Desde pequeña, me han encantado los álbumes de fotos y siempre me hizo ilusión crear uno contigo. Sin embargo, por vueltas da la vida y vuelos transatlánticos, no pude hacerlo.
    </p>

    
    <p>Así que me puse manos a la obra, esclavicé a un n3gro para que se encargara de algunos detallitos técnicos y este es mi intento de álbum para ti (ningún esclavo fue muy maltratado en el proceso)  </p>
    
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>

    <div class="button-container">
        <a class="btn btn-start" href="/start/">Start</a>
    </div>

</Layout>

