---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Start";
---

<Layout pageTitle={pageTitle}>

      <div class="gif">
        <img width="300" height="259" alt="RaccoonNotesGif" src="/blog.webp" />
      </div>
      <p>
        Tu mamá me ha dicho mucho que fuiste desde que naciste su mayor alegría, un
        regalo. Eras una niña pensadora, traviesa, pícara, que le encantaba ir de
        paseo al campo a buscar monedas de oro y tesoros con su abuelo.
      </p>
      <div class="img-container container1">
          <img class="c1-f1" width="100%" src="/1.jpg" alt="img1">
          <img class="c1-f2" width="100%" src="/2.jpg" alt="img1">
          <img class="c1-f3" width="100%" src="/3.jpg" alt="img1">
      </div>
      <p>
        Pero, esa niña fue creciendo, se mudó de pueblo, tuvo que dejar su vieja bicicleta y conocer amigos nuevos. Entre ellos y los perritos, esa niña fue feliz.
      </p>
      <div class="img-container container2">
        <img src="/c2f1.jpg" width="100%" alt="img1">
        <img src="/c2f2.jpg" width="100%" alt="img2">
      </div>
      <p>
        Y como en la vida todo es una etapa, también acabó la secundaria. Comenzaste una nueva escuela, conociste otra vez a personas que te hicieron feliz, tuviste más perritos, te enamoraste, viajaste sola a por primera vez. Aprendiste lo momentánea que puede ser la alegría, y también estuviste profundamente triste.
      </p>
      <div class="img-container container2">
        <img src="/c3f1.jpg" width="100%" alt="img1">
        <img src="/c3f2.jpg" width="100%" alt="img2">
      </div>
      <p>
        Mientras todo esto estaba pasando, me conociste a mí! Y poco a poco me fui convirtiendo en tu burromitad 😂
      </p>
      <div class="img-container container4">
        <img src="/c4f1.jpg" width="100%" alt="img1">
      </div>
      <p>
        Me hiciste infinitamente feliz (aunque también la tristeza y la soledad nos hizo compañía en par de ocasiones). Viajamos, conocimos, experimentamos, descubrimos, vivimos...
      </p>
      <div class="img"><img src="/c5f1.jpg" width="100%" alt="img1"></div>
      <div class="img-container container5">
        <img src="/c5f2.jpg" width="100%" alt="img2">
        <img src="/c5f3.jpg" width="100%" alt="img3">
        <img src="/c5f4.jpg" width="100%" alt="img4">
        <img src="/c5f5.jpg" width="100%" alt="img5">
      </div>
      <p>
        Aunque, como dije desde el inicio, todo es una etapa, y la nuestra (al menos de forma presencial) llegó a su fin. Y uno de tus deseos se hizo realidad.
      </p>
      <div class="img-container">
          <video controls width="100%" src="/vid1.mp4"></video>
      </div>
      <p>
        Te fuiste del país después de que yo también me había ido. No nos volvimos a encontrar como prometimos esa última noche. Te atreviste a dejar todo por vivir libre. El resto, es una historia que sabes contar mejor que yo.
      </p>
      <div class="img-container container6">
        <img src="/c6f1.jpg" width="100%" alt="img1">
        <img src="/c6f2.jpg" width="100%" alt="img2">
      </div>
  

      <h3>Postdata:</h3>
    
      <div class="pd-container container-7">
        <img src="/c7f1.jpg" width="100%" alt="img">
        <p>Varadero, 2021.</p>
      </div>
      <div class="pd-container container-8">
        <img src="/c8f1.jpg" width="100%" alt="img">
        <p>Tu último viaje a La Habana.</p>
      </div>
      <div class="pd-container container-9">
        <img src="/c9f1.jpg" width="100%" alt="img">
        <p>Tu bar favorito en la Calle Obispo.</p>
      </div>
      <div class="pd-container container-10">
        <img src="/c10f1.jpg" width="100%" alt="img">
        <p>Una de mis fotos favoritas, una de esas noches donde nos reímos tanto que nos dolía la panza.</p>
      </div>
    
      
      <h2>Feliz Cumple, Muñeca.</h2>
      <div class="gif">
          <img width="300" height="259" alt="space" src="/space.webp" />
        </div>

        <div class="button-container">
          <a class="btn" href="/">Volver al inicio</a>
        </div>

</Layout>
